<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./Tests/tests_bootstrap.php" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false"
         processIsolation="false" backupGlobals="false" colors="true">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="false">
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>Tests</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="all">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
