<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
        bootstrap="./_tests_bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        colors="true"
        >
    <testsuites>
        <testsuite name="all">
            <directory>./FOM</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory>./FOM/MauticVocativeBundle</directory>
            <exclude>
                <directory>./FOM/MauticVocativeBundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
